.redBox {
	height: 100px;
	width: 100px;
	background-color: red;
	padding: 30px;
	color: white;
	float: left;
	margin: 10px;
}
.clearFix {
	clear: both;
 }

 #todoContainer {
 	float: left;
 	width: 45%;
 }
 #colorChangerContainer {
 	float: right;
 	width: 45%;
 }

 #colorChanger {
 	width: 200px;
 	height: 100px;
 	margin: 30px auto;
 	border: 1px solid #000;
 	background: #fff;
 	text-align: center;
 	line-height: 50px;
 	letter-spacing: 3px;
 	padding: 10px 20px;
 	box-shadow: 2px 2px 2px black;
 	border-radius: 3px;

 	transition: background 0.7s;
 }
 #toggleClick {
 	margin: 0 auto;
 	display: block;
 	padding: 10px 20px;
 	box-shadow: 2px 2px 2px black;
 	border-radius: 3px;
 }




